#preview-data{
    box-shadow: 0px 0px 12px #0000009a;
    background-color: #73cccc;
    margin: 10px;
    min-height: 270px;
    max-width: 750px;
    overflow: hidden;
    word-break: break-all;
    margin: 0px auto;
}

#preview-data .preview-content{
    padding: 10px;
}