@import './styles/Editor.css';
@import './styles/Preview.css';
@import "@fontsource/russo-one"; 
@import "@fontsource/russo-one/400.css"; 
* {
    margin: 0;
    padding: 0;
}

#App {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 100vh;
    background-color: #55a0a0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border {
    border: 2px solid #333333;
    border-radius: 8px;
}

.header-component {
    display: flex;
    justify-content: space-between;
    background-color: #498080;
    padding: 10px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Russo One";
    font-size: 1rem;
}

.header-component svg:hover {
    color: #00ffc8;
    cursor: pointer;
}


.display-none {
    display: none;
}

.grow-height {
    height: 95vh;
}
.grow-height textarea{
    height: 93vh !important;
}